body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
}

#controls {
    position: absolute;
    top: 10%;
    left: 15px; /* Change from right: 15px; to left: 15px; */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change from align-items: flex-end; to align-items: flex-start; */
    width: 300px; /* Set a maximum width for the controls */
}

#input {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%; /* Ensure it fills the container */
    box-sizing: border-box; /* Include padding in width calculations */
}

#input.hidden {
    display: none;
}

#input select,
#input input,
#input button {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%; /* Make inputs and selects full width */
    box-sizing: border-box; /* Include padding in width calculations */
}

#input button {
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#input button:hover {
    background-color: #357ae8;
}

#toggleControls {
    background-color: #fff;
    color: #4285f4;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}

#toggleControls:hover {
    background-color: #f1f1f1;
}

#button-container {
    display: flex;
    gap: 10px;
}

#button-container button {
    flex-grow: 1;
}

.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
    z-index: 1000;
    top: 83px; /* Adjust this value as needed */
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #ddd;
}

