.nav__bar {
  display: flex;
  background: #273469;
  padding: 1.6rem 3.2rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
  border-bottom: 3px solid #215ba2;
  position: relative;
}

.logo__container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.nav__logo {
  width: 6.4rem;
}

.nav__text {
  font-size: 3.2rem;
  font-weight: 500;
}

.nav__container {
  display: flex;
  font-size: 2rem;
  gap: 1.6rem;
  list-style: none;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* transform: translateY(-100%); */
  /* opacity: 0;
  height: 0; /* Start with zero height */
}

.menu__btn {
  display: none;
  fill: #fff;
  cursor: pointer;
}

.nav__link a {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.active {
  background: #fff;
  color: #273469 !important;
}

.nav__link__dropdown {
  position: relative;
  fill: #fff;
}

.nav__profile__icon {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active.nav__profile__icon {
  fill: #273469;
}

.subnav__link__container {
  background-color: #142995;

  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  border-radius: 5px;
  list-style: none;
  width: max-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.subnav__link {
  word-break: keep-all;
  width: 100%;
}

.subnav__link:hover {
  border-radius: 5px;
  background-color: blue;
}

/* media query */
@media screen and (max-width: 600px) {
  .nav__logo {
    width: 4.4rem !important;
  }

  .nav__text {
    font-size: 2.4rem !important;
    font-weight: 500;
  }

  .menu__btn {
    display: block;
  }

  /* mobile navbar */
  .nav__bar {
    position: relative;
    z-index: 200;
  }

  .nav__container {
    position: absolute;
    top: 100%; /* Start from the top */
    right: 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
    background-color: #5b6db6;
    z-index: 100;
    padding: 2rem 0;
    transform: translateY(-100%); /* Start off-screen */
    opacity: 0;
    height: 0; /* Start with zero height */
    overflow: hidden;
  }

  .nav__container.open {
    transform: translateY(0); /* Slide in from the top when open */
    opacity: 1; /* Make visible */
    height: auto; /* Adjust height */
  }

  .subnav__link__container {
    position: static;
  }
}
